@charset "UTF-8";

#header.header-change {background: transparent; border-bottom: 1px solid rgba(255,255,255,.1);}
.header-change .main-menu ul li a{color: #fff;}
#header.header-change #search {background-image: url(/cms/imgs/common/icon/icon-search.png);}
#header.header-change #menu {background-image: url(/cms/imgs/common/icon/icon-menu.png);}
#header.header-change .heading-logo .logo-portal {background-image: url(/cms/imgs/common/img/logo-kccf-color.svg);}
#header.header-change .pavilion-logo .logo-themes {background-image: url(/cms/imgs/pavilion/logo-pavilion.svg);}
.header-change~#container .themes-sub-depth-nav {background: rgba(0,0,0,.12);}

.slide-list-wrap {background-image: url(/cms/imgs/pavilion/bg/bg-palace.jpg);}

.palace .image-box {width: calc(100% - 420px); float: right; padding: 0; padding-left: 60px;}
.palace .img-wrap {height: auto; border: none; background: url(/cms/imgs/pavilion/bg/bg-palace-map.png)no-repeat; background-size: 100% auto;}
.palace .img-wrap:after {display: none;}
.palace .img-wrap img {display: block; position: static; width: 100%;}
.palace .data-box {width: 420px; float: left;}
.palace .media-list {max-width: 330px;}


@media only screen and (max-width: 640px) {

    .header-change .main-menu ul li a { color: #242424; }

    .palace .image-box {float: none; width: 100%;}
    .palace .data-box {float: none; width: 100%;}
    .palace .media-list {max-width: 100%;}
    /* 임시방편 */
    #container { padding-bottom: 300px; }
    .slide-list-wrap { height: 340px; }
    .contents-detail-wrap { padding-top: 350px; }
    .slide-list-box .thumb-img { height: 90px; }
}

@media only screen and (min-width: 640px){
    #header.header-change .logo a ,
    #header.header-change a.logo-themes span ,
    #header.header-change .nav-wrap a ,
    #header.header-change .main-menu ul li a { color: #fff !important; }
    #header.header-change .nav-wrap .active a { color: #e7b200 !important; }
}