
.chapter-header { opacity: 0; position: relative; top: 30px; transition: all .6s ease; }

.sub-chapter { opacity: 0; position: relative; top: 30px; transition: all .6s ease .3s; }

.scroll-transition .chapter-header, .scroll-transition .sub-chapter { opacity: 1; top: 0; }

.page-title-cover { background-image: url(/cms/imgs/market/bg/bg-formation.jpg); }

.page-title-cover .page-header .page-text { max-width: 860px; }

.chapter-text { line-height: 1.7; margin-top: 25px; }

.chapter-title + .chapter-text { padding-top: 10px; margin-top: 33px; }

.chapter01 { padding-bottom: 0; }

.chapter01 .chapter-header { padding-bottom: 30px; }

.chapter02 .chapter-title { margin-bottom: 30px; }

.chapter02 .pic-wrap { margin-bottom: 0; }

.chapter02 .pic-outer { margin-left: -20px; margin-right: -20px; }

.chapter02 .pic-outer:after { clear: both; display: block; content: ''; }

.chapter02 .pic-outer .pic { width: 25%; padding: 20px; float: left; }

.chapter02 .pic-outer .pic + .pic { position: relative; }

.chapter02 .pic-outer .pic + .pic:after { width: 15px; height: 3px; content: ''; background: url(/cms/imgs/market/btn/ico-more.gif) no-repeat 0 0; position: absolute; left: -7.5px; top: 52%; }

@media only screen and (max-width: 640px) { .chapter02 .pic-outer .pic { width: 100%; float: none; }
  .chapter02 .pic-outer .pic + .pic:after { left: 50%; top: 0; transform: rotate(90deg); transform-origin: 50% 50%; } }

.chapter02 .pic-outer .box { padding: 20px; position: relative; box-sizing: border-box; height: 364px; padding-bottom: 85px; border: 1px solid #dddddd; border-top: 2px solid #08c0d3; }

@media only screen and (max-width: 640px) { .chapter02 .pic-outer .box { height: auto; padding-bottom: 0; } }

.chapter02 .pic-outer .box .sub-title { font-size: 1.833rem; color: #08c0d3; line-height: 1; margin-bottom: 25px; padding-top: 6px; }

.chapter02 .pic-outer .box .sub-text { text-align: justify; color: #666666; font-size: 1.25rem; line-height: 1.6; }

.chapter02 .pic-outer .box .btn-detail-link { position: absolute; bottom: 0; left: 50%; margin-left: -52.5px; }

@media only screen and (max-width: 640px) { .chapter02 .pic-outer .box .btn-detail-link { position: static; margin: 30px auto; left: auto; bottom: auto; } }

.chapter02 .pic-outer .full { width: 100%; }

.chapter02 .pic-outer .full .box { background: #f1f7f8; height: auto; }

.chapter02 .pic-outer .full .box .sub-text { text-align: center; }

.chapter02 .pic-outer .full .box .btn-detail-link { margin-bottom: 20px; }

@media only screen and (max-width: 640px) { .con-chapter .btn-detail-link:last-child { margin-bottom: 0; } }
