@charset "UTF-8";
#wrap { text-align: center; }

/* header no change */
#header.header-change { background: transparent; border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

#header.header-change #search { background-image: url("/cms/imgs/common/icon/icon-search.png"); }

#header.header-change #menu { background-image: url("/cms/imgs/common/icon/icon-menu.png"); }

#header.header-change .heading-logo .logo-portal { background-image: url("/cms/imgs/common/img/logo-kccf-color.svg"); }

#header.header-change .heading-logo .logo-themes { background-image: url("/cms/imgs/confucianism/logo-confucianism.svg"); }

.header-change .main-menu ul li a { color: #fff; }

.header-change ~ #container .themes-sub-depth-nav { background: rgba(0, 0, 0, 0.12); }

.page-title-cover { background-image: url("/cms/imgs/confucianism/bg/bg-ideas.jpg"); background-position: center top; }

.page-title-cover .page-header .page-text { max-width: 930px; }

.sub-chapter .sub-text { line-height: 1.7; }

.page-title-cover .btn-detail-link { margin: 30px auto; }

.type-tab-menu .btn-tab { height: auto; line-height: 52px; padding: 0 30px; border-radius: 26px; font-size: 1.333rem; min-width: 132px; transition: all .3s ease; }

.type-tab-menu .btn-tab { border: 1px solid rgba(255, 255, 255, 0.35); display: inline-block; box-sizing: border-box; color: #fff; margin-right: 6px; z-index: 40; }

.type-tab-menu .btn-tab:last-child { margin-right: 0; }

.type-tab-menu .btn-tab.on { border-color: #b3c70d; background: #b3c70d; }

.type-tab-menu .btn-tab:focus, .type-tab-menu .btn-tab:hover { border-color: #b3c70d; }

.load-transition .page-header { top: 40%; }

.chapter-header { opacity: 0; position: relative; top: 30px; transition: all 0.6s ease; }

.sub-chapter { opacity: 0; position: relative; top: 30px; transition: all 0.6s ease 0.3s; }

.sub-chapter .sub-title small { display: block; font-size: 16px; color: #999999; margin-top: 10px; margin-bottom: 5px; }

.scroll-transition .chapter-header, .scroll-transition .sub-chapter { opacity: 1; top: 0; }

/***************** 비주얼 탭 */
.visual-tabs-wrap { width: 100%; padding: 0 21px; position: absolute; left: 0; z-index: 30; min-width: 1246px; opacity: 0; margin-top: 80px; }

@media only screen and (max-width: 640px) { .visual-tabs-wrap { min-width: 1px; } }

.visual-tabs-wrap.fixed { position: fixed; top: 0 !important; overflow: hidden; transition: background-image 0.3s ease; padding-top: 165px; padding-bottom: 30px; margin-top: 0; }

.visual-tabs-wrap.fixed.bg { background-image: url("/cms/imgs/confucianism/bg/bg-ideas.jpg"); background-size: cover; margin-top: 0; }

.visual-tabs-wrap.fixed .visual-tabs .type-tab-menu .btn-tab { /*height: 32px;*/ padding: 0 15px; line-height: 32px !important; border-radius: 16px; font-size: 1.167rem; }

.visual-tabs { max-width: 1418px; position: relative; z-index: 1; margin: 0 auto; }

.visual-tabs:after { content: ""; display: block; clear: both; }

/* tab contents */
.tab-con-box { display: none; }

.tab-con-box.on { display: block; }

.pic-wrap.one-pic { margin-bottom: 30px; }

.pic-wrap.one-pic.wide .pic { max-width: 100%; }

.pic-wrap.half-pic { max-width: 1120px; }

.pic-wrap.half-pic .pic { width: calc(50% - 8px); }

.pic-wrap.half-pic .pic:first-child { margin-right: 16px; }

.pic-wrap .pic .sub-text { text-align: justify; }

.pic-wrap .pic .btn-detail-link { margin: 0; }

@media only screen and (max-width: 640px) { .header-change .main-menu ul li a { color: #242424; }
  .pic-wrap .pic .sub-text { text-align: center; }
  .pic-wrap .pic .btn-detail-link { margin: 0 auto 30px; } }

.con-chapter { padding: 60px 0; }

.sub-chapter h4.sub-title { font-size: 20px; color: #333333; margin-bottom: 20px; }

.sub-chapter blockquote.sub-text { color: #999999; font-style: italic; }

#section01 .sub-count { margin-top: -5px; }

#section01 .half-pic { padding: 15px 0 30px; }

#section01 h4.sub-title { margin-bottom: 15px; }

#section01 blockquote.sub-text { margin-top: -7px; margin-bottom: 10px; }

#section02 .con-chapter { background: #f0eeea; }

#section02 .con-chapter .sub-chapter > div > a { width: 140px; display: inline-block; margin-bottom: 0; }

#section02 h3.sub-title + .sub-text { margin-bottom: 25px; }

#section02 .pic-wrap + .sub-title + .sub-text { margin-bottom: 22px; }

#section02 .pic-wrap + .sub-title + .sub-text + .sub-text { margin-bottom: 22px; }

@media only screen and (max-width: 640px) { #section02 .con-chapter .sub-chapter > div > a { width: auto; padding-left: 1em; padding-right: 1em; } }

#section02 .con-chapter .sub-chapter > div > a + a { margin-left: 10px; }

#section02 .con-chapter .btn-detail-link + h4.sub-title { padding-top: 10px; }

#section03 .pic-wrap .pic { max-width: 640px; }

#section03 .sub-chapter .btn-detail-link:last-child { margin-top: 22px; }

#section04 { min-height: 80vh; background-color: #F0F0F0; background-image: url("/cms/imgs/confucianism/bg/bg-ideas-002.jpg"); background-position: center bottom; background-repeat: no-repeat; background-size: cover; }

#section04 .con-chapter { background: transparent; }

#section04 .sub-chapter > .sub-text { margin-bottom: 22px; }

#section04 ul { max-width: 1400px; margin: 0 auto; }

#section04 ul:after { clear: both; content: ''; display: block; }

#section04 ul li { border: 1px solid #e2e2e2; background: rgba(255, 255, 255, 0.7); padding: 30px 20px; height: 500px; position: relative; float: left; width: 272px; box-sizing: border-box; }

#section04 ul li h4.sub-title { margin-bottom: 30px; }

@media only screen and (max-width: 640px) { #section04 ul li { width: 100%; } }

#section04 ul li + li { margin-left: 10px; }

@media only screen and (max-width: 640px) { #section04 ul li + li { margin-top: 10px; margin-left: 0; } }

#section04 ul li a { position: absolute; bottom: 30px; left: 0; right: 0; }

@media only screen and (max-width: 640px) { #section04 ul li a { position: static; margin-top: 20px; margin-bottom: 0; } }

@media only screen and (min-width: 640px){
  #header.header-change .logo a ,
  #header.header-change a.logo-themes span ,
  #header.header-change .nav-wrap a ,
  #header.header-change .main-menu ul li a { color: #fff !important; }
  #header.header-change .nav-wrap .active a { color: #b3c70d !important; }
}