@charset "utf-8";

/* 메인 슬라이드 컬러 
.swiper-slide-active#work01, .mfp-header#work01 {background:#042840 !important;}
.swiper-slide-active#work02, .mfp-header#work02 {background:#017dc7 !important;}
.swiper-slide-active#work03, .mfp-header#work03 {background:#2171a6 !important;}
.swiper-slide-active#work04, .mfp-header#work04 {background:#8fcd52 !important;}
.swiper-slide-active#work05, .mfp-header#work05 {background:#f58833 !important;}
.swiper-slide-active#work06, .mfp-header#work06 {background:#766c62 !important;}
.swiper-slide-active#work07, .mfp-header#work07 {background:#2d2e29 !important;}
.swiper-slide-active#work08, .mfp-header#work08 {background:#008ddf !important;}
.swiper-slide-active#work09, .mfp-header#work09 {background:#850e10 !important;}
.swiper-slide-active#work10, .mfp-header#work10 {background:#1f4687 !important;}
.swiper-slide-active#work11, .mfp-header#work11 {background:#0a7ee5 !important;}
.swiper-slide-active#work12, .mfp-header#work12 {background:#005192 !important;}
.swiper-slide-active#work13, .mfp-header#work13 {background:#f8981f !important;}
.swiper-slide-active#work14, .mfp-header#work14 {background:#349dd6 !important;}
.swiper-slide-active#work15, .mfp-header#work15 {background:#4969b2 !important;}
.swiper-slide-active#work16, .mfp-header#work16 {background:#65a1bb !important;}
.swiper-slide-active#work17, .mfp-header#work17 {background:#023554 !important;}
.swiper-slide-active#work18, .mfp-header#work18 {background:#656565 !important;}
.swiper-slide-active#work19, .mfp-header#work19 {background:#2353a7 !important;}
.swiper-slide-active#work20, .mfp-header#work20 {background:#404040 !important;}
.swiper-slide-active#work21, .mfp-header#work21 {background:#0e7bc0 !important;}
.swiper-slide-active#work22, .mfp-header#work22 {background:#e7010e !important;}
.swiper-slide-active#work23, .mfp-header#work23 {background:#00b1b9 !important;}
.swiper-slide-active#work24, .mfp-header#work24 {background:#2a4f6c !important;}
.swiper-slide-active#work25, .mfp-header#work25 {background:#555356 !important;}
.swiper-slide-active#work26, .mfp-header#work26 {background:#1b9df1 !important;}
.swiper-slide-active#work27, .mfp-header#work27 {background:#a40045 !important;}
.swiper-slide-active#work28, .mfp-header#work28 {background:#00a9bc !important;}
.swiper-slide-active#work29, .mfp-header#work29 {background:#17757d !important;}
.swiper-slide-active#work30, .mfp-header#work30 {background:#09378c !important;}
.swiper-slide-active#work31, .mfp-header#work31 {background:#014282 !important;}
.swiper-slide-active#work32, .mfp-header#work32 {background:#f4700e !important;}
.swiper-slide-active#work33, .mfp-header#work33 {background:#454545 !important;}
.swiper-slide-active#work34, .mfp-header#work34 {background:#098a85 !important;}
.swiper-slide-active#work35, .mfp-header#work35 {background:#a154a0 !important;}
.swiper-slide-active#work36, .mfp-header#work36 {background:#2f70c0 !important;}
/* 메인 슬라이드 컬러 */