@charset "utf-8";

/* 섹션 공통 */
section {float:left;height:calc(100vh - 0px);}
section .inner {position:relative;display:inline-block;width:74%;height:99%;padding:0% 13%;}
section .inner .title strong {font-weight:500;}
section .inner h1.blind {display:none;}
.bg {width:100%;height:100%;background:rgba(0,0,0,0.7);position:fixed;left:0px;top:0px;z-index: 10;display:none;}

.sec1 {width:26%;background:url(/img/bg/bg_section1.png) right center no-repeat;background-size:cover;}
.sec2 {width:37%;background:url(/img/bg/bg_section2.png) center center no-repeat;background-size:cover;}
.sec3 {width:37%;background:url(/img/bg/bg_section3.png) left center no-repeat;background-size:cover;}
.sec2_two {width:20%;background:#0084ff;}
.sec3_two {width:54%;background:#333;}

.inner .logo {position:absolute;top:calc(5vh - 0px);}
.inner .icon {position:absolute;top:calc(21vh - 0px);}
.inner .title {position:absolute;top:calc(28vh - 0px);color:#fff;font-size:36px;line-height:42px;}
.inner .title strong {display:block;}
.inner .content {position:absolute;top:calc(45vh - 0px);}
.inner .footer {position:absolute;bottom:calc(5vh - 0px);}
.inner .footer p {color:#fff;font-size:14px;font-weight:100;}
.inner .footer p.copy {margin-top:15px;font-size:12px;}
.inner .back {position:absolute;top:calc(5vh - 0px);left:13%;display:none;}
.inner .back a {color:#fff;font-size:18px;line-height:18px;}
.inner .qmark {position:absolute;top:calc(5vh - 0px);right:13%;}
.inner .qmark a {font-size:18px;}
.inner .qmark span {color:#fff;margin-right:5px;}
.inner .qmark a img {vertical-align: middle;margin-bottom:3px;}

.sec1 .inner .icon img {width:46px;height:32px;}
.sec2 .inner .icon img {width:39px;height:35px;}
.sec2 .inner .qmark img {width:24px;height:24px;}
.sec3 .inner .icon img {width:42px;height:34px;}
.sec2_two .inner .qmark img {width:24px;height:24px;}

/* 섹션1 */
.sec1 .inner .content p {color:#fff;font-size:16px;background:rgba(0,0,0,0.7);padding:12px 20px;border-radius:3px;font-weight:400;}

/* 섹션2 */
.sec2 .inner .content div.doc {display:inline-block;width:86%;}
.sec2 .inner .content div.doc p {color:#fff;margin-bottom:10px;font-size:16px;font-weight:300;}
.sec2 .inner .content div.doc li:nth-of-type(1) {display:inline-block;width:100%;}
.sec2 .inner .content div.doc li:nth-of-type(1) input {float:left;width:23.0%;height:50px;margin-right:2%;text-align:center;outline:0;border:0;border-radius: 3px;font-size:18px;color:#333;font-weight:500;}
.sec2 .inner .content div.doc li:nth-of-type(1) input:-ms-input-placeholder {color: #c3c3c3 !important;}
.sec2 .inner .content div.doc li:nth-of-type(1) input::placeholder {color:#c3c3c3;}
.sec2 .inner .content div.doc li:nth-of-type(1) input:last-child {margin-right:0;}
.sec2 .inner .content div.doc li:nth-of-type(2) input {background:#000;margin-top:22px;color:#fff;font-size:14px;width:200px;height:40px;border-radius: 5px;cursor: pointer;}
.sec2 .inner .content div.doc li:nth-of-type(1) input:focus {outline: none;}
.sec2 .inner .content div.doc .pop_message {position:fixed;top:45%;left:calc(50vw - 200px);width:300px;min-height:100px;padding:20px 30px;background:#fff;border-radius: 3px;z-index: 11;display:none;}
.sec2 .inner .content div.doc .pop_message p {word-break:keep-all; text-align:center;font-size:16px;font-weight:400;line-height:24px;}
.sec2 .inner .content div.doc .pop_message p.success {display:none;color:#333;}
.sec2 .inner .content div.doc .pop_message p.fail {display:none;}
.sec2 .inner .content div.doc .pop_message p.close {padding:10px 0px 0px;}
.sec2 .inner .content div.doc .pop_message p.close input {background:#000;color:#fff;font-size:16px;padding:8px 30px;border-radius:3px;cursor:pointer;}
.sec2 .inner .content div.cer {display:none;width:86%;margin-top:50px;}
.sec2 .inner .content div.cer p {color:#fff;margin-bottom:10px;font-size:16px;font-weight:300;}
.sec2 .inner .content div.cer li {float:left;width:32%;margin-right:2%;text-align:center;}
.sec2 .inner .content div.cer li:nth-of-type(1) {position:relative;width:55%;}
.sec2 .inner .content div.cer li:nth-of-type(2) {width:19.5%;}
.sec2 .inner .content div.cer li:nth-of-type(3) {width:19.5%;}
.sec2 .inner .content div.cer li:last-child {margin-right:0%;}
.sec2 .inner .content div.cer li input {width:100%;height:50px;border-radius:3px;}
.sec2 .inner .content div.cer li:nth-of-type(1) input {width:60%;padding:0% 30% 0% 10%;font-size:18px;}
.sec2 .inner .content div.cer li .count {position:absolute;right:10%;top:12px;font-size:16px;color:red;font-weight:300;}
.sec2 .inner .content div.cer li:nth-of-type(2) input {background:#000;color:#fff;font-size:16px;cursor: pointer;}
.sec2 .inner .content div.cer li:nth-of-type(3) input {background:url(
/img/icon/icon_re.svg) 5px 50% no-repeat;background-size:16px 16px;color:#fff;font-size:14px;text-align:left;text-indent: 30px; cursor: pointer;}
.sec2 .inner .content div.cer .info {clear:both;display:inline-block;margin-top:15px;}
.sec2 .inner .content div.cer .info p {font-size:14px;line-height:22px;color:#fff;}
.sec2 .inner .content div.cer .pop_message_re {position:fixed;top:45%;left:calc(50vw - 200px);width:300px;min-height:50px;padding:20px 30px;background:#fff;border-radius: 3px;z-index: 11;display:none;}
.sec2 .inner .content div.cer .pop_message_re p {word-break:keep-all;color:#333;text-align:center;font-size:16px;font-weight:400;line-height:24px;}
.sec2 .inner .content div.cer .pop_message_re p.resand {display:none;}
.sec2 .inner .content div.cer .pop_message_re p.close {padding:10px 0px 0px;}
.sec2 .inner .content div.cer .pop_message_re p.close input {background:#000;color:#fff;font-size:16px;padding:8px 30px;border-radius:3px;cursor:pointer;}

/* 섹션3 */
.sec3 .inner .title {color:#333;}
.sec3 .inner .title strong {color:#0084ff;}
.sec3 .inner .content {width:74%;}
.sec3 .inner .content p {font-size:18px;margin-bottom:50px;}
.sec3 .inner .content p:nth-of-type(2) {font-size:16px;}
.sec3 .inner .content p:nth-of-type(2) strong {color:#0084ff;display:block;}

/* 두번째 페이지 섹션2 */
.sec2_two .inner {width:84%;padding:0% 8%;}
.sec2_two .inner .qmark {position:absolute;top:calc(2.5vh - 0px);right:8%;}
.sec2_two .inner .back {position:absolute;top:calc(2.5vh - 0px);left:8%;display:block;}
.sec2_two .inner .content {position:absolute;top:calc(8vh - 0px);height:calc(100vh - 120px);width:91%;}
.sec2_two .inner .content .refer {}
.sec2_two .inner .content .refer ul {display:inline-block;width:100%;height:auto;margin-bottom:45px;outline:0px solid red;}
.sec2_two .inner .content .refer ul li {background:#0762c9;width:86%;padding:12px 7% 15px;border-radius:3px;margin-bottom:3px;}
.sec2_two .inner .content .refer ul li.T {font-size:14px;color:#fff;margin:0px 0px 10px 0px;padding:0;background:none;width:auto;}
.sec2_two .inner .content .refer ul li input {width:100%;background:none;color:#fff;font-size:16px;}
.sec2_two .inner .content .refer ul li label {display:block;color:#acfffc;font-size:12px;cursor:default;font-weight:300;margin-bottom:5px;}

/* 두번째 페이지 섹션3 */
.sec3_two .inner {width:100%;padding:0% 0% 0%;}

/* 탭 버튼 */
ul.tabs {margin: 0;padding: 15px 3% 0%;float: left;list-style: none;width: 94%;}
ul.tabs li {float: left;margin: 0;padding: 0;width:24.2%;height: 50px;line-height: 50px;max-width:200px;margin-right:1%;overflow: hidden;
position: relative;background: #444;border-radius:5px 5px 0px 0px;}
ul.tabs li:last-child {margin-right:0;}
ul.tabs li.active {background:#fff;}
ul.tabs li.active a {color:#333;font-weight: 600;}
ul.tabs li a {text-decoration: none;color: #fff;display: block;text-align:center;font-size: 18px;font-weight:200;}
ul.tabs li a:hover {background: #777;}

/* 탭 컨텐츠 */
.tab_container {border-top: none;overflow: hidden;clear: both;float: left;width: 100%;height:calc(100vh - 65px);background: #fff;}
.tab_content {padding:0% 0%;font-size: 1.2em;}
.tab_content .inner {}
.tab_content .inner .con1 {display:inline-block;width:94%;height:70px;line-height:70px;border-bottom:1px solid #e4e4e4;padding:0% 3%;}
.tab_content .inner .con1 ul li {float:left;width:33.3%;}
.tab_content .inner .con1 ul li:nth-child(1) {width:45%;}
.tab_content .inner .con1 ul li:nth-child(2) {width:35%;}
.tab_content .inner .con1 ul li:nth-child(3) {width:20%;}
.tab_content .inner .con1 ul li span {font-size:16px;font-weight:500;}
.tab_content .inner .con1 ul li span:nth-child(2) {color:#0762c9;}
.tab_content .inner .con1 ul li span img {vertical-align: middle;margin:0px 4px 4px 0px;}
.tab_content .inner .con1 ul li:nth-of-type(3) {text-align:right;}
.tab_content .inner .con1 ul li:nth-of-type(3) a {display:inline-block;color:#fff;background: #1642a1;font-size:16px;width:170px;height:50px;line-height:50px;text-align:center;border-radius:3px;font-weight:400;}
.tab_content .inner .con2 {display:inline-block;width:94%;height:80px;line-height:80px;border-bottom:1px solid #e4e4e4;padding:0% 3%;}
.tab_content .inner .con2 li {height:35px;line-height:35px;}
.tab_content .inner .con2 li span:nth-of-type(1) {background:#ddd;border-radius:3px;font-size:14px;padding:3px 8px;font-weight:400;margin-right:5px;}
.tab_content .inner .con2 li span:nth-of-type(2) {font-size:14px;font-weight:400;}
.tab_content .viewer {height:calc(100vh - 208px);}
.tab_content .viewer .mCSB_container {margin-right:0;}
.tab_content .viewer .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: rgba(0,0,0,0.2);}
.tab_content .viewer .viewerimg {width:100%;}

/* 커스텀스크롤 */
.mCSB_inside > .mCSB_container {margin-right:20px;}
.mCSB_scrollTools .mCSB_draggerContainer {z-index: 0;left:0px;}

/* 모바일 비노출 영역 */
header{display: none;}
.doc_m {display: none;}
.service_m {display: none;}
footer {display: none;}
.tab_content .inner .con1 ul li:nth-of-type(3) a.sec2_m {display:none;}
#selectBox {display:none;}
#s2_two p.close {display:none;}
.sec2_two .inner h1.PT {display:none;}



/* 모바일 환경 */
@media all and (max-width: 1068px) {
    
    html {height: -webkit-fill-available;}
    body {width:100%;height:100%;display: flex;flex-direction: column;min-height: 100vh;min-height: -webkit-fill-available;}
    .wrap {display:inline-block;overflow:hidden;position:fixed;width:100%;height:100%;}
    header{display: inline-block;width:100%;height:auto;position:fixed;top:0;z-index:10;}
    header .logo_m {position:absolute;width:90px;top:calc(4vh - 0px);left:calc(50vw - 45px);}
    header .logo_m a img {width:100%;}
    header .logo_m a img.g {display:none;}
    header .back_m {position:absolute;top:calc(4vh - 0px);left:8%;}
    header .back_m a img.g {display:none;}
    header .qmark_m {position:absolute;top:calc(4vh - 0px);right:8%;}
    header .qmark_m a img.g {display:none;}
    header .qmark_m a {font-size:15px;}
    header .qmark_m a span {color:#fff;margin-right:5px;display:inline;}
    header .qmark_m a img {vertical-align: middle;display:inline;float:right;margin-bottom:3px;width:24px;height:24px;}
    
    .header_m {display:inline-block;width:100%;height:60px;background:rgba(255,255,255,0.9);}
    .header_m .logo_m {position:absolute;width:90px;top:calc(2vh - 0px);left:calc(50vw - 45px);}
    .header_m .back_m {position:absolute;top:calc(2vh - 0px);left:6%;opacity:1 !important;}
    .header_m .back_m a {display:inline-block;} 
    .header_m .qmark_m {position:absolute;top:calc(2vh - 0px);right:6%;}
    .header_m .qmark_m a {font-size:15px;}
    .header_m .qmark_m a span {color:#666;margin-right:5px;}
    .header_m .qmark_m a img {vertical-align: middle;margin-bottom:3px;width:24px;height:24px;}
    
    .header_m .back_m a img {display:none;}
    .header_m .logo_m a img {display:none;}
    .header_m .qmark_m a img {display:none;}
    .header_m .back_m a img.g {display:block;}
    .header_m .logo_m a img.g {display:block;}
    .header_m .qmark_m a img.g  {display:inline-block;}

    
    section {float:left;height:calc(100vh - 0px);position: absolute;left:0%;top:0%;width:100%;height:100%;}
    section .inner {position:relative;display:inline-block;width:84%;height:100%;padding:0% 8%;}
    .bg {width:100%;height:100%;background:rgba(0,0,0,0.7);position:fixed;z-index: 10;display:none;}

    .sec1 {width:100%;background:url(/img/bg/bg_section1.png) center center no-repeat;background-size:cover;}
    .sec2 {width:100%;background:url(/img/bg/bg_section2.png) center center no-repeat;background-size:cover;}
    .sec3 {width:100%;background:url(/img/bg/bg_section3.png) center center no-repeat;background-size:cover;}
      
    #s1 {z-index: 3;}
    #s2 {z-index: 2;opacity: 0;left:-1000px;}
    #s3 {z-index: 1;opacity: 0;left:-1000px;}
    
    .inner .logo {position:absolute;width:90px;top:calc(5vh - 0px);left:calc(50vw - 45px);display:none;}
    .inner .icon {position:absolute;top:calc(15vh - 0px);}
    .inner .title {position:absolute;top:calc(23vh - 0px);color:#fff;font-size:28px;line-height:36px;}
    .inner .title strong {display:block;}
    .inner .content {position:absolute;top:calc(40vh - 0px);}
    .inner .footer {position:absolute;bottom:calc(3vh - 0px);left:auto;width:auto;padding:0px 0px 0px;text-align:left;}
    .inner .footer br {display:none;}
    .inner .footer p {color:#fff;font-size:12px;font-weight:100;}
    .inner .footer p.copy {margin-top:5px;font-size:12px;}
    .inner .back {position:absolute;top:calc(5vh - 0px);left:13%;display:none;}
    .inner .back a {color:#fff;font-size:18px;line-height:18px;display:none;}
    .inner .qmark {position:absolute;top:calc(5vh - 0px);right:13%;display:none;}

    .inner .doc_m {display: block;position:absolute;top:calc(50vh - 0px);}
    .inner .service_m {display: block;position:absolute;bottom:calc(5vh - -80px);}
    
    .inner .doc_m input {font-size:18px;font-weight:500;color:#fff;border-radius:3px;width:170px;height:50px;line-height:55px;background:url(/img/icon/icon_arr.png) 75% 52% no-repeat #0084ff;text-indent: -15px;cursor: pointer;}
    .inner .service_m a {background:url(/img/icon/icon_i.svg) 5px 5px no-repeat;background-color: rgba(19,74,175,0.7);background-size:24px 24px; padding:5px 15px 6px 35px;border-radius:50px;color:#fff;font-size:15px;}
    
    .sec1 .inner .content p {background:rgba(0,0,0,0.5);}
    
    .sec2 .inner .content div.doc {width:91%;}
    .sec2 .inner .content div.cer li:nth-of-type(1) {width:50%;}
    .sec2 .inner .content div.cer li:nth-of-type(2) {width:19.5%;}
    .sec2 .inner .content div.cer li:nth-of-type(3) {width:24.5%;margin-right:0;}
    .sec2 .inner .content div.doc li:nth-of-type(1) input {width:23.5%;}
    .sec2 .inner .content div.doc li:nth-of-type(2) input {width:100%;height:50px;line-height:50px;}
    .sec2 .inner .content div.doc .pop_message {width:260px;padding:20px 20px;top:40%;left:calc(50vw - 150px);}
    .sec2 .inner .content div.cer {width:93%;margin-top:25px;}
    .sec2 .inner .content div.cer li:nth-of-type(3) input {text-align:left;background: url(/img/icon/icon_re.svg) 5px 50% no-repeat;background-size: 16px 16px;text-indent: 25px;}
    .sec2 .inner .content div.cer .info p {font-size:14px;letter-spacing: -0.6px;margin-bottom:5px;}
    .sec2 .inner .content div.cer .pop_message_re {width:260px;padding:20px 20px;top:40%;left:calc(50vw - 150px);}
    
    
    .sec3 .inner .content {width:84%;}
    .sec3 .inner .content p {font-size:16px;}
    .sec3 .inner .content p:nth-of-type(2) {font-size:14px;}
    
    ul.tabs {padding:18% 3% 0%;display:none;}
    .tab_container {height:calc(100vh - -80px);}
    .tab_container .tab_content .inner {top:auto;}
    .tab_content .inner .con1 {height:auto;line-height:normal;padding:3% 6%;width:88%;vertical-align: top;}
    .tab_content .inner .con1 ul li:nth-child(1) {width:100%;height:35px;line-height:35px;}
    .tab_content .inner .con1 ul li:nth-child(2) {width:100%;height:35px;line-height:35px;}
    .tab_content .inner .con1 ul li:nth-child(3) {width:100%;text-align:center;height:40px;line-height:40px;padding:5px 0px 10px;}
    .tab_content .inner .con1 ul li:nth-of-type(3) a {width:49%;height:40px;line-height:38px;font-size:16px;letter-spacing: -0.6px;}
    .tab_content .inner .con1 ul li:nth-of-type(3) a.sec2_m {display:inline-block;background:#000;}
    .tab_content .inner .con1 ul li span img {}
    .tab_content .inner .con2 {height:auto;line-height:normal;padding:0% 0% 0%;width:100%;border-bottom:0;}
    .tab_content .inner .con2 ul {display:inline-block;height:auto;width:100%;vertical-align: top;}
    .tab_content .inner .con2 ul li {height:auto;min-height:34px;line-height: 24px;border-bottom:1px solid #e4e4e4;padding:3% 6%;width:88%;}
    .tab_content .inner .con2 ul li span:nth-child(1) {float:left;width:20%;margin-right:5%;padding:5px 0px;text-align:center;font-size:14px;}
    .tab_content .inner .con2 ul li span:nth-child(2) {float:left;width:75%;font-size:14px;display:contents; }
    .tab_content .viewer {margin:0% 0%;width:90%;z-index:11;border-radius:3px;background:#fff;padding:5%;height:auto;}
    
    #selectBox {display:inline-block;}
    select{width:88%;height:40px;padding:1% 4%;margin:0% 6% 0%;border:1px solid #ccc;border-radius:3px;background:#fff url(/img/icon/icon_arrow_select.png) no-repeat right 20px center;background-size:17px 10px;font-size:18px;font-weight:800;color:#777;}
    .selectWrap select{height:44px;padding:0 10px;border:1px solid #ccc;border-radius:0;background-position:right 10px center;background-size:14px;font-size:16px;color:#333;font-weight:normal;}
    select option{font-size:20px}
    select::-ms-expand {display:none}
    
    .mCSB_inside > .mCSB_container {margin-right:13px;}
    .mCSB_scrollTools .mCSB_draggerContainer {z-index: 0;left:10px;}
    
    #s1_two {display:none;}

    #s2_two {background:#0084ff;height:100%;position:fixed;top:0%;left:0%;margin:0% 0%;width:100%;height:100%;min-height: 100vh;min-height: -webkit-fill-available;z-index:11;display:none;}
    #s2_two p.close {display:inline-block;position:fixed;top:6%;right:6%;width:30px;height:30px;z-index:11;}
    #s2_two p.close a {display:inline-block;background:url(/img/icon/icon_close.png) center center no-repeat;width:30px;height:30px;}
    .sec2_two .inner {width:88%;padding:0% 6% 0% 6%;height:100%;}
    .sec2_two .inner .content {width:92.0%;top:0;padding:15vh 0% 5vh;min-height: 100vh;min-height: -webkit-fill-available;height: calc(80vh - 130px);overflow-y: auto;}
    .sec2_two .inner .content .refer ul {margin-bottom:20px;}
    .sec2_two .inner h1.PT {display:inline-block;font-size:24px;color:#fff;font-weight:500;position: fixed;top: 5%;left: 6%;}
    
    .sec3_two {width:100%;background:#fff;height:calc(100vh - 80px);padding-top:80px;overflow-y:auto;}
    .sec3_two .inner {display:inline-block;height:100%;}
    
    #s3_two {position:relative;}
}
/* 모바일 환경 */

 


/* 태블릿 환경 */
@media all and (min-width:1069px) and (max-width:1424px) {

    section .inner {position:relative;display:inline-block;width:80%;height:99%;padding:0% 10%;}
    .sec1_two {width:24%;}
    .sec2_two {width:24%;}
    .sec3_two {width:52%;}
    
    .inner .title {font-size:28px;line-height:38px;}
    .inner .back {position:absolute;top:calc(5vh - 0px);left:10%;display:none;}
    .inner .qmark {position:absolute;top:calc(5vh - 0px);right:10%;}
    .inner .footer p {color:#fff;font-size:13px;font-weight:100;}

    .sec1 .inner .content p {font-size:14px;}

    .sec2 .inner .content div.cer li:nth-of-type(3) input {text-align:right;}    
    .sec2 .inner .content div.cer .info p {font-size:12px;}
    
    .sec3 .inner .content p {font-size:16px;margin-bottom:50px;}
    .sec3 .inner .content p:nth-of-type(2) {font-size:14px;}
    
    .sec2_two .inner .content .refer ul li input {font-size:14px;}
    
    ul.tabs li {max-width: 120px;}
    ul.tabs li a {font-size:16px;}
    
    .tab_content .inner .con1 ul li span {font-size:14px;}
    .tab_content .inner .con1 ul li:nth-child(3) a {width:100%;font-size:14px;}
    .tab_content .inner .con2 li span {overflow: hidden;}
    .tab_content .inner .con2 li span:nth-of-type(1) {font-size:12px;}
    
    header{display: none;}
    .doc_m {display: none;}
    .service_m {display: none;}
    footer {display: none;}
    .tab_content .inner .con1 ul li:nth-of-type(3) a.m {display:none;}
    #selectBox {display:none;}
    #s2_two p.close {display:none;}
    .sec2_two .inner h1.PT {display:none;}
}
/* 태블릿 환경 */
 


/* 1920 이상 */
@media all and (min-width: 1920px) {

    .inner .icon {position:absolute;top:310px;}
    .inner .title {position:absolute;top:377px;}
    .inner .content {position:absolute;top:560px;}

}
/* 1920 이상 */

















